body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hidden{
  visibility: hidden;
}

.clear
{
  clear:both;
}
.left
{
float:left;
}
.right
{
float:right;
}
.inventory
{
  width:200px;
  margin: 12px 5px 12px 5px;
}